<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@200&family=Space+Mono&display=swap" rel="stylesheet">
    
    <title>Aniedex-create</title>
</head>
<body>
    <header>
        <div id="navbar">
            <a href="/anidex/">Home</a>
            <a href="/anidex/new">Share a review!</a>
        </div>
      </header>
    <h1>New Reviews</h1>
    <form action="/anidex" method="POST">
        img: <input type="text" name="img"><br>
        name: <input type="text" name="name"><br>
        genre: <input type="text" name="genre"><br>
        studio: <input type="text" name="studio"><br>
        reviews: <input type="text" name="reviews"><br>
        comments: <input type="text" name="comments"><br>
        completed: <input type="checkbox" name="completed"><br>
        <input type="submit" vaule='Create Review'>


    </form>
</body>
</html>



<!-- name: String,
img: String,
genre: String,
studio: String,
completed: Boolean,
review: String,
comments: String -->