<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/share.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@200&family=Space+Mono&display=swap" rel="stylesheet">

    <title>Aniedex-create</title>
</head>
<body>
    <header>
        <div class="nav">
            <a href="/anidex/">Home</a>
            <a href="/anidex/new">Share a review!</a>
        </div>
      </header>
    <h1 class= 'title'>New Review</h1>
    <form class="form" action="/anidex" method="POST">
        IMG: <input type="text" name="IMG" placeholder="img"><br>
       Name: <input type="text" name="name" placeholder='Name'><br>
        Genre: <input type="text" name="genre" placeholder=Genre><br>
        Studio: <input type="text" name="studio" placeholder='Studio'><br>
        Reviews: <input type="text" name="reviews" placeholder='Reviews'><br>
        Comments: <input type="text" name="comments" placeholder='Comments'><br>
        Completed: <input type="checkbox" name="completed" placeholder='Completed'><br>
       <center> <input  class='btn-grad'type="submit" vaule='Create Review'></center>
    </form>
       <img src="https://imgur.com/BBTavqI.jpg" alt="titan" class='titan'>



    
</body>
</html>



<!-- name: String,
img: String,
genre: String,
studio: String,
completed: Boolean,
review: String,
comments: String -->