body{
    background-color: aqua;
}


:root{
    --ff-primary: 'Space Mono', monospace;
    --ff-secondary:'Saira Semi Condensed', sans-serif;
    --fw-reg: 300;
    --fw-bold: 900;
}
.navBar{
    justify-content: flex-start;
}
.title{
    font-family: var(--ff-primary) !important;


}

.column{
    font-family: var(--ff-secondary);
    flex-wrap: wrap;
}
